.rnp-custom-font-section {
	svg {
		pointer-events: all;
	}
	.rnp-select-container {
		margin-bottom: 20px;
	}
	.rnp-select-container *,
	.rnp-select__menu * {
		font-family: inherit !important;
		box-sizing: border-box !important;
	}

	.rnp-checkbox-note {
		padding-left: 0;
	}
	.rnp-font-preset {
		font-size: 90%;
		margin-top: 10px;
		display: flex;
		align-items: center;

		.rnp-font-preset-button {
			color: #fff;
			background: #ffffff44;
			border: none;
			padding: 5px 8px;
			border-radius: 6px;
			margin-left: 10px;
			font-size: 90%;
		}
		.rnp-font-preset-label {
			opacity: 0.6;
		}
		.rnp-download-font-button {
			color: #fff;
			background: #ffffff44;
			border: none;
			padding: 5px 8px 1px 8px;
			border-radius: 6px;
			margin-left: 10px;
			font-size: 90%;
			svg {
				fill: #fff;
				width: 17px;
				height: 17px;
			}
		}
	}
}
